header {
  height: 80vh;
  padding: 0.6rem;
  overflow: hidden;
  justify-content: center;
}

.header_container {
  
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 4rem;
  top: 12rem;
  justify-content: center;
}

.cv {
  position: relative;
  left: 43vw;
  margin: 2rem 0;
}

@media screen and (max-width: 640px) {
    
    .cv
    {
        position: relative;
        left: 30vw;
    },
    .heading
    {
        position: absolute;
        left: 30vw;
    },
    .socials
    {
        position: absolute;
        top: 16rem;
    }

}

