.projects {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.content {
  margin: 5rem;
  margin-top: 0;
  width: 30rem;
  display: grid;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 2.5rem;
}

.content h2 {
  margin-top: 1rem;
}
.content p:hover {
  background-color: var(--color-primary);
}

.view_project {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.6rem;
  padding: 1rem;
  margin-top: 0;
  margin-left: 1.5rem;
}

.links {
  color: white;
  border: 1px solid white;
}
.links:hover {
  background-color: black;
}

.project_img {
  width: 32vw;
  position: relative;
  left: 1.5vw;
  border-radius: 2.5rem;
}
.project_img:hover
{
    opacity:80%;
    transition:var(--transistion);
}

@media screen and (max-width: 640px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 50%);
  }
  .content {
    width: 20rem;
    position: relative;
    left: 7%;
    margin: 1rem;
  }
  .content p {
    width: 15rem;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    aspect-ratio: 1/1;
  }
  .view_project {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
  }
  .project_img {
    
    position: relative;
    left: 30%;
    border-radius: 2.5rem;
  }
}
