@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"); /* Google font imported */

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

:root/*  In HTML, :root represents the <html> element and is identical to the selector html*/ {
  /* Declared  CSS variables */
  --color-bg: black;
  --color-primary: rgb(75, 101, 189);
  --color-white: white;
  --container-width-lg: 100%;
  --container-width-md: 100%;
  --container-width-sm: 100%;
  --transistion: all 400ms ease;
}

html {
  scroll-behavior: smooth; /* Allows a smooth animated "scroll effect" between elements within the scrolling box. */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--color-bg);
  color: white;
  background-image: url(https://i.pinimg.com/236x/39/0e/1e/390e1e3ed860bcc23fea7fb84cfd393b.jpg);
}

div {
  margin-top: 4rem;
  text-align: center;
}





a {
  color: var(--color-primary);
  transition: var(--transistion);
}
a:hover {
  color: var(--color-white);
}

.btn {
  color: var(--color-primary);
  margin-top:1rem;
  display: block;
  text-align: center;
  width: 7rem;
  cursor: pointer;
  border-radius: 2.5rem;
  padding: 1rem;
  height: 1rem;
  border: 1px solid var(--color-primary);
  transition: var(--transistion);
}

.btn:hover {
  color: var(--color-white);
  border-color: var(--color-white);
}

img {
  display: inline-block;
  margin-top:1rem;
}

.container {
  width: var(--container-width-lg);
  margin: 0%;
}

.about_icons
{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
}

/* Use of 'Media Queries' to make website responsive */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: var(--container-width-sm);
  }
}
